asgiref==3.11.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==48.0.0
defusedxml==0.7.1
Django==5.1.1
django-filter==24.3
django-stubs==6.0.3
django-stubs-ext==6.0.3
djangorestframework==3.15.2
djangorestframework_simplejwt==5.5.1
djoser==2.3.1
drf-extra-fields==3.7.0
filetype==1.2.0
idna==3.13
iniconfig==2.3.0
oauthlib==3.3.1
packaging==26.2
pillow==11.0.0
pluggy==1.6.0
psycopg2-binary==2.9.11
pycparser==3.0
PyJWT==2.12.1
pytest==8.3.3
pytest-django==4.9.0
pytest-pythonpath==0.7.3
python-dotenv==1.2.2
python3-openid==3.2.0
PyYAML==6.0.1
requests==2.33.1
requests-oauthlib==2.0.0
social-auth-app-django==5.8.0
social-auth-core==4.8.7
sqlparse==0.5.5
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
webcolors==1.11.1
